[Unit]
Description=Activate Syzkaller IBSS setup

[Service]
ExecStart=/root/setup-syzkaller-hwsim.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
